.container-map{
  padding: 15px
}

#js-map{
  width: 100%;
  height: 500px;
}

.containerOverlay{
    background-color: #555;
    width: 200px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    border-radius: 1px;
    padding: 2px 0;
    padding-bottom: 2px;
    position: absolute;
    z-index: 1;
    /* bottom: 100%; */
    left: 50%;
    margin-left: -80px;
    margin-top: -30px;
    border-radius: 5px;
  }

.containerOverlay #textoOverlay::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 53%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

#filtro{
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  margin-bottom: 15px;
  align-items: center;
}

#droplist-logs{
  margin-left: 30px;
  margin-top: 0;
  margin-bottom: 0;

  background-color: white;
  font-size:14px; /* Tamanho da Fonte */
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
}

.divInput{
  padding-left: 25px;
}

#legenda{
  position: absolute;
  bottom: -50px;
  right: 20px;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}

#data-info{
  margin: 0;
  padding: 7px;
}

#botaoIteracao{
  background-color: unset;
  border: none;
  top: 5px;
  right: 20px;
  cursor: pointer;
}

.divIteracao{
  margin-left:auto; 
  margin-right:0;
  display: flex;
}

#imagemBotaoProximo{
  height: 30px;
  width: auto;
}

#imagemLegenda{
  width: 20px;
  height: auto;
  margin-right: 5px;
}

input[type="date"] {
  background-color: white;
  outline: none;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  outline: none;
  border-style: ridge;
  border-radius: 5px;
  padding: 5px;
  border-width: thin;
  margin-left: 5px
}

input[type="date"]::-webkit-inner-spin-button {
  height: 28px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  font-size: 10px;
  color: blue;
}